body {
    background-color: #f0f0f0;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

h3 {
    text-align: center;
    text-shadow: 2px 2px 0 #ccc;
    font-size: 1.3em;
}

.registration_panel {
    position: absolute;
    top: 150px;
    margin: 0 40% 0 40%;
    align-content: center;
}

.registration_field {
    background-color: #cecece;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
    width: 250px;
}

.registration_error {
    color: red;
    text-align: center;
}

td {
    padding: 3px;
}

.login_input {
    width: 96%;
}

button {
    width: 100%;
}